
body .chat-in-im_dialog_messages {
  color: #b4d3ff;
}

body .list-dialog-wrapper .colv-3 .id-area {
  color: #89bdfb;
}

body .сhat-wrapper .id-area {
  color: #89bdfb;
  text-transform: none !important;

}

body .chat-icon .chats-area-bl p {
  color: #b4d3ff;
}
