<script type="text/javascript" src="src/js/eth-util.js"></script>

<div class="slider single-item">
    <div>

        <div class="app-area app-slide">
            <div class="container">

                <p style="font-weight: 600;font-size: 14px;color: #fff;text-align: center;">{{_e('Добро пожаловать')}}</p>


                <div class="crug-area">
                    <img src="./src/img/logo500.png" onerror="this.src='../../.'+this.src;this.onerror = null;" style="    width: 137px;
    margin-left: -3px;
    position: absolute;
    margin-top: -3px;"/>
                </div>
                <h2>Telegra<span class="telegraf-f-key-color">f</span> Money
                    <br><span style="    font-size: 12px;">BLOCKCHAIN EVERYWHERE...</span></h2>

                <a class="button click-btn next_slide" style="    margin-top: 89px;">{{_e('Дальше')}}</a>

            </div>
        </div>

    </div>

    <div>

        <div class="app-area app-slide">
            <div class="container">


                <p style="font-weight: 600;font-size: 14px;color: #fff;text-align: center;">Telegra<span
                        class="telegraf-f-key-color">f</span> Money</p>

                <div class="crug-area">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<g>
		<path fill="#fff" d="M32.3,10.3c0.3,0.1,0.7,0.2,1,0.3c2,0.6,3.4,2.5,3.5,4.7c0,1.5,0,3.1,0,4.7c-0.6-0.3-1.2-0.7-1.8-0.9
			c-0.9-0.2-1.1-0.8-1-1.6c0-0.3,0-0.5,0-0.8c0-0.6-0.4-1-1-1c-1.9,0-3.8,0-5.7,0c-3.7,0-7.4,0-11.1,0c-0.9,0-1.2,0.3-1.2,1.2
			c0,9.3,0,18.7,0,28c0,0.9,0.3,1.2,1.2,1.2c5.5,0,11.1,0,16.6,0c0.3,0,0.7,0,0.9-0.2c0.2-0.2,0.4-0.5,0.4-0.8c0.1-0.6,0-1.2,0-1.8
			c0-0.1,0.1-0.3,0.2-0.4c0.8-0.4,1.7-0.8,2.5-1.2c0,0.1,0,0.2,0,0.3c0,2,0,4.1,0,6.1c0,2.5-1.8,4.5-4.3,4.9c-0.1,0-0.2,0.1-0.2,0.1
			c-5.2,0-10.3,0-15.5,0c-0.1,0-0.2-0.1-0.2-0.1c-2.1-0.4-3.4-1.6-4.1-3.5c-0.1-0.2-0.1-0.4-0.2-0.6c0-11.4,0-22.7,0-34.1
			c0,0,0.1-0.1,0.1-0.1c0.4-2.2,1.7-3.5,3.9-4.1c0.2,0,0.4-0.1,0.6-0.1C21.9,10.3,27.1,10.3,32.3,10.3z M26.4,49.2
			c0-1.1-0.8-1.9-1.8-2c-1.1,0-2,0.8-2,1.9c0,1.1,0.9,2,1.9,2C25.6,51.1,26.4,50.3,26.4,49.2z M24.5,13.9c0.7,0,1.5,0,2.2,0
			c0.6,0,1-0.4,1-0.9c0-0.5-0.4-0.9-1-0.9c-1.5,0-2.9,0-4.4,0c-0.6,0-1,0.4-1,0.9c0,0.5,0.4,0.9,1,0.9
			C23.1,13.9,23.8,13.9,24.5,13.9z"/>
		<path fill="#fff" d="M52.8,26.1c-0.3,0.3-0.6,0.6-1,0.9c-0.9,0.7-1.8,1.5-2.7,2.2c-0.2,0.1-0.5,0.2-0.7,0.2
			c-0.1-0.1-0.2-0.4-0.3-0.6c0-0.3,0-0.5,0-0.9c-0.2,0-0.4,0-0.6,0c-1.3,0-2.5,0-3.8,0c-0.6,0-0.7-0.1-0.7-0.7c0-0.9,0-1.9,0-2.8
			c0-0.5,0.1-0.6,0.6-0.6c1.2,0,2.5,0,3.7,0c0.2,0,0.4,0,0.7,0c0-0.3,0-0.6,0-0.9c0-0.2,0.2-0.4,0.3-0.5c0.1-0.1,0.4,0,0.6,0.1
			c1.2,0.9,2.3,1.9,3.4,2.8c0.1,0.1,0.2,0.2,0.3,0.4C52.8,25.8,52.8,26,52.8,26.1z"/>
		<path fill="#ffe800" d="M26.1,21c4.8-1.4,8.9-0.4,12,3.7c2.5,3.4,2.7,7.9,0.4,11.4c-3,4.5-7.2,5.8-12.4,4.4c0,0.2,0,0.4,0,0.6
			c0,1-0.7,1.7-1.7,1.7c-1,0-1.7-0.7-1.7-1.7c0-2.7,0-5.4,0-8.1c0-4.2,0-8.3,0-12.5c0-1,0.4-1.6,1.2-1.8c1.1-0.3,2.1,0.4,2.2,1.6
			C26.2,20.5,26.1,20.7,26.1,21z M26.2,25.6c1.4-1,2.9-1.3,4.5-1.1c1.6,0.2,2.9,0.9,4,2.2c1.8,2.1,2,5.1,0.5,7.4
			c-1,1.5-2.3,2.4-4.1,2.8c-1.7,0.3-3.3,0-4.9-1c0,0.5,0,1,0,1.4c0,0.3,0.1,0.4,0.3,0.5c1.3,0.6,2.7,0.8,4.1,0.7
			c3.8-0.3,6.9-3.5,7-7.3c0.1-3.3-1.3-5.8-4.2-7.4c-2.2-1.2-4.6-1.2-6.9-0.2c-0.2,0.1-0.3,0.2-0.3,0.5C26.2,24.6,26.2,25,26.2,25.6z
			 M29,34.4c0,0.1,0,0.2,0,0.3c0,0.6,0.1,0.7,0.7,0.7c0.1,0,0.2,0,0.2,0c0.6,0,0.7,0,0.7-0.7c0-0.3,0.1-0.5,0.4-0.6
			c1.4-0.6,1.7-2.4,0.7-3.4c-0.3-0.3-0.8-0.5-1.2-0.8c-0.3-0.2-0.6-0.3-0.9-0.5c-0.2-0.1-0.3-0.4-0.3-0.6c0-0.2,0.3-0.4,0.5-0.4
			c0.4,0,0.8,0,1.1,0.1c0.7,0.3,0.7,0.3,1-0.5c0-0.1,0-0.1,0.1-0.2c0.1-0.3,0-0.5-0.2-0.6c-0.4-0.1-0.7-0.3-1.1-0.4c0,0,0-0.1,0-0.2
			c0-0.8,0-0.7-0.8-0.7c0,0,0,0,0,0c-0.6,0-0.6,0-0.6,0.5c0,0.4-0.1,0.5-0.5,0.7c-1.4,0.6-1.6,2.5-0.4,3.4c0.3,0.2,0.7,0.4,1.1,0.6
			c0.2,0.1,0.5,0.2,0.7,0.4c0.3,0.2,0.5,0.4,0.4,0.8c-0.1,0.4-0.4,0.5-0.8,0.5c-0.4,0-0.7-0.1-1.1-0.2c-0.9-0.3-0.9-0.3-1.2,0.6
			c-0.1,0.3,0,0.5,0.3,0.6C28.2,34.1,28.6,34.2,29,34.4z"/>
		<path fill="#fff" d="M47.2,37.8c0,0.4,0,0.7,0,1c0,0.2-0.1,0.4-0.3,0.5c-0.1,0.1-0.4,0-0.5-0.1c-1.2-0.9-2.3-1.9-3.5-2.8
			c-0.4-0.3-0.4-0.8,0-1.2c1.1-1,2.3-1.9,3.5-2.8c0.1-0.1,0.4-0.2,0.5-0.1c0.1,0.1,0.3,0.3,0.3,0.5c0,0.3,0,0.6,0,1
			c0.3,0,0.5,0,0.7,0c1.2,0,2.5,0,3.7,0c0.4,0,0.6,0.1,0.6,0.6c0,1,0,2,0,3c0,0.5-0.1,0.6-0.6,0.6c-1.3,0-2.6,0-4,0
			C47.6,37.8,47.5,37.8,47.2,37.8z"/>
	</g>
</g>
</svg>
                </div>
                <h2>
                    {{_e('Осуществляйте')}}
                    <br>
                    {{_e('мгновенные')}}
                    <br>{{_e('переводы.')}}</h2>

                <a class="button click-btn next_slide">{{_e('Дальше')}}</a>

            </div>
        </div>

    </div>

    <div>

        <div class="app-area app-slide">
            <div class="container">
                <p style="font-weight: 600;font-size: 14px;color: #fff;text-align: center;">Telegra<span
                        class="telegraf-f-key-color">f</span> Money</p>


                <div class="crug-area">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<g>
		<g>
			<ellipse fill="#ffe800" cx="39.6" cy="16.2" rx="10" ry="5"/>
		</g>
		<g>
			<path fill="#ffe800" d="M39.6,22c-4.2,0-7.7-1.2-9.5-3c-0.4,0.5-0.6,1.1-0.6,1.6c0,2.8,4.5,5,10,5s10-2.2,10-5
				c0-0.6-0.2-1.1-0.6-1.6C47.4,20.8,43.8,22,39.6,22z"/>
		</g>
		<g>
			<path fill="#ffe800" d="M39.6,26.5c-4.2,0-7.7-1.2-9.5-3c-0.4,0.5-0.6,1.1-0.6,1.6c0,2.8,4.5,5,10,5s10-2.2,10-5
				c0-0.6-0.2-1.1-0.6-1.6C47.4,25.3,43.8,26.5,39.6,26.5z"/>
		</g>
		<g>
			<path fill="#ffe800" d="M39.6,30.9c-4.2,0-7.7-1.2-9.5-3c-0.4,0.5-0.6,1.1-0.6,1.6c0,2.8,4.5,5,10,5s10-2.2,10-5
				c0-0.6-0.2-1.1-0.6-1.6C47.4,29.7,43.8,30.9,39.6,30.9z"/>
		</g>
		<path fill="#fff" d="M15.4,49.1h-3.1c-0.5,0-0.8-0.4-0.8-0.8V35.9c0-0.5,0.4-0.8,0.8-0.8h3.1c0.5,0,0.8,0.4,0.8,0.8v12.4
			C16.3,48.7,15.9,49.1,15.4,49.1z"/>
		<path fill="#fff" d="M33.4,44.2c1.9-0.1,8.7,0.2,9.4,0.3c0.7,0.1,1.1,0.1,1.4-0.1c0.4-0.2,1.6-1.2,1.6-2.6
			c-0.3-1.4-1.7-1.9-1.9-2c-1.7-0.4-4.7-1.2-8.7-1.3c-2.8-1.2-2.7-1.4-3.6-1.7c-1.2-0.5-3.7-1.1-5.6-1.1S19.9,36.3,18,37
			c-0.2,0.1-0.4,0.3-0.4,0.7c0,0.3-0.1,8.7-0.1,8.7s-0.1,0.5,0.7,0.7s1.6,0.2,1.6,0.2s11.7,5.6,13.1,6c1.4,0.4,3.1-0.1,3.6-0.2
			c0.4-0.1,7-1.3,7.7-1.2c0.7,0,1.3-0.1,1.3-0.1s1.8-1,2.5-1.4c0.7-0.5,1-0.7,1.4-1c0.5-0.3,3.6-2.2,3.7-3.5
			c0.1-1.3-0.6-0.9-0.6-0.9c0.6-0.7,0.7-1,0.7-1s0.1-0.2,0-0.7c-0.1-0.5-0.9-1.4-2.1-1.2c-1.2,0.1-2.5,0.7-3.9,1.9
			c-1.1,1-2.6,1.5-3.5,1.6c-0.8,0.1-5.6,0.2-5.6,0.2L33.4,44.2z"/>
	</g>
</g>
</svg>
                </div>
                <h2>
                    {{_e('Выдавайте и')}}
                    <br>
                    {{_e('получайте')}}
                    <br>
                    {{_e('займы')}}</h2>

                <a class="button click-btn next_slide">{{_e('Дальше')}}</a>

            </div>
        </div>

    </div>

    <div>

        <div class="app-area app-slide">
            <div class="container">

                <p style="font-weight: 600;font-size: 14px;color: #fff;text-align: center;">Telegra<span
                        class="telegraf-f-key-color">f</span> Money</p>

                <div class="crug-area">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<path fill="#fff" d="M48.7,15.8c0,0.4-0.1,0.9-0.1,1.3c-0.1,1.4,0.2,2.6,1.1,3.6c0.3,0.3,0.5,0.6,0.8,0.9c1.6,1.9,1.6,4,0,5.9
	c-0.2,0.3-0.5,0.6-0.7,0.9c-1,1.1-1.3,2.4-1.1,3.9c0.1,0.9,0.1,1.9-0.1,2.7c-0.4,1.6-1.7,2.5-3.3,2.8c-2.1,0.3-3.6,1.4-4.6,3.4
	c-0.6,1.2-1.7,2.1-3.1,2.2c-0.6,0.1-1.2,0-1.8-0.1c-0.6-0.1-1.1-0.4-1.6-0.6c-1.3-0.6-2.6-0.6-4,0c-0.6,0.3-1.3,0.6-2,0.7
	c-1.7,0.4-3.1-0.2-4.1-1.5c-0.3-0.4-0.6-0.8-0.8-1.3c-0.8-1.4-2-2.3-3.6-2.6c-0.4-0.1-0.9-0.2-1.3-0.3c-2-0.7-3.2-2.5-2.9-4.6
	c0.3-2-0.1-3.8-1.6-5.3c-2-2.1-2-4.2,0-6.4c1.4-1.5,1.9-3.2,1.6-5.2c-0.3-2.2,0.9-4.1,3-4.7c0.5-0.2,1.1-0.3,1.6-0.4
	c1.2-0.3,2.2-1,2.8-2c0.3-0.5,0.7-1.1,1-1.6c1.1-1.5,2.8-2.1,4.6-1.5c0.7,0.2,1.3,0.5,2,0.8c1,0.4,2,0.4,3.1,0
	c0.6-0.2,1.3-0.5,1.9-0.7c1.8-0.6,3.6,0,4.7,1.6c0.2,0.3,0.5,0.7,0.7,1.1c0.8,1.4,2,2.3,3.6,2.6c0.3,0.1,0.5,0.1,0.8,0.2
	C47.6,11.9,48.9,13.7,48.7,15.8z M21.8,26.2c2.4,2.5,4.7,5,6.5,7.9c0.4,0.6,1.1,0.5,1.5-0.1c1.5-1.9,2.8-4,4.5-5.8
	c2.3-2.6,4.7-5,7.1-7.4c0.9-0.9,0.9-0.8,0.2-1.8c-0.1-0.1-0.1-0.2-0.2-0.3c-0.3-0.4-0.6-0.5-1.1-0.2c-3.4,2.2-6.5,4.7-9.2,7.7
	c-0.4,0.4-0.8,0.9-1.2,1.4c-0.3-0.4-0.5-0.9-0.7-1.2c-0.9-1.3-1.8-2.5-2.7-3.8c-0.1-0.1-0.5-0.2-0.6-0.2
	C24.2,23.4,22.9,24.6,21.8,26.2z"/>
<path fill="#ffea10" d="M31.2,43.6c-1.5,5.4-2.9,10.6-4.4,15.9c-0.8-1.1-1.5-2-2.2-3c-0.9-1.2-0.9-1.2-2.3-0.6
	c-1.4,0.7-2.9,1.3-4.5,2.1c1.3-5.8,2.6-11.4,3.9-17.1c0.9,1.9,2.2,3.1,4,3.7C27.6,45.2,29.3,44.5,31.2,43.6z"/>
<path fill="#ffea10" d="M42.7,40.4c1.5,5.2,3,10.3,4.5,15.5c-2.3-1.4-4.5-2.7-6.8-4c-1.3,1.7-2.6,3.4-4,5.2
	c-1.3-4.5-2.6-8.9-3.9-13.4C36.8,45.7,40.4,45.2,42.7,40.4z"/>
</svg>
                </div>
                <h2>
                    {{_e('Выдавайте и')}}
                    <br>
                    {{_e('получайте')}}
                    <br>{{_e('гарантии')}}</h2>

                <a class="button click-btn click-btn2">{{_e('Старт')}}</a>

            </div>
        </div>

    </div>


</div>


<div class="app-area ns-show logo-hj">

    <div class="container">
        <div class="nl-area">
            <div class="logo"></div>
            <div class="logo-text">
                Telegra<span class="telegraf-f-key-color">f</span>
                Money
            </div>
            <div class="logo-text_slog">BLOCKCHAIN EVERYWHERE...</div>
        </div>


        <div></div>

        <div class="alert alert-warning" style="width: 300px;margin: 0 auto;padding: 6px 24px;    margin-top: 20px; display: none">
            <div style="width: 10%; display: inline-block;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 78.561 78.561" style="enable-background:new 0 0 78.561 78.561;" xml:space="preserve">
<g>
	<g>
		<circle cx="39.28" cy="57.772" r="3.632" style="fill: #8f6d3b;"></circle>
		<path d="M38.792,48.347c1.104,0,2-0.896,2-2v-19c0-1.104-0.896-2-2-2s-2,0.896-2,2v19C36.792,47.451,37.688,48.347,38.792,48.347z    " style="fill: #8f6d3b;"></path>
		<path d="M46.57,11.542l-0.091-0.141c-1.852-2.854-3.766-5.806-7.199-5.806c-3.578,0-5.45,2.994-7.26,5.891    c-0.009,0.014-0.065,0.104-0.074,0.119L0.278,65.266C0.096,65.574,0,65.735,0,66.092c0,3.896,3.135,6.874,6.988,6.874h64.585    c3.854,0,6.988-2.979,6.988-6.874c0-0.357-0.096-0.614-0.277-0.921L46.57,11.542z M71.573,68.966H6.988    c-1.461,0-2.717-0.951-2.95-2.394l31.374-53.061c1.554-2.487,2.572-3.963,3.868-3.963c1.261,0,2.457,1.87,3.843,4.006    l31.399,53.007C74.29,68.003,73.034,68.966,71.573,68.966z" style="fill: #8f6d3b;"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </div><div style="    width: 88%;
    display: inline-block;
    margin-left: 2%;">
            <strong style="font-weight: 600 !important;">{{_e('Внимание')}}!</strong> {{_e('Вы входите в beta-версию приложения. Некоторые функции могут отсутствовать или не работать')}}
        </div>
        </div>
        <form class="form-wrapper cf"
              onsubmit="return false;login_phone($('.phone-inp').val());">
            <input type="tel" placeholder="{{_e('Номер телефона')}}" class="phone-inp" required>
            <button type="button"
                    onclick="login_phone($('.phone-inp').val())">
                {{_e('Войти')}}
            </button>
        </form>
        <hr>

        <input type="file" style="display: none" id="file-input-keystore">
        <a class="button click-btn click-btn2" style="margin-top: 20px;" onclick="$('#file-input-keystore').trigger('click');">{{_e('Войти используя KeyStoreFile')}}</a>
        <a class="button click-btn click-btn2" style="margin-top: 20px;background: #fff;color: #0d63ca !important;" onclick="create_new_acc()">{{_e('Создать аккаунт')}}</a>
        {{#if old_login}}
        <hr>

        <div class="slpa">{{_e('или войти через соц сети:')}}</div>

        <ul class="list-unstyled list-inline social soc-uls" style="z-index:9999">

            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=tw&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i1"></a>
            </li>
            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=fb&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i4"></a>
            </li>
            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=gl&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i6 "></a>
            </li>
            <br>

            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=od&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i7 "></a>
            </li>

            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=ml&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i5 "></a>
            </li>

            <li class="">
                <a onclick="_link('https://webtransfer.com/en/wtauth/auth/?app_id=132&amp;force=vk&amp;no_fast_login=1&amp;redirect=', true);"
                   class="pointer icon-soc-big i2"></a>
            </li>

            <br>

        </ul>
        {{/if}}
    </div>
</div>

<div id="overlay"></div>



<script>
    setTimeout(function () {

    if (param_url_this().login === 'iframe') {
        $('.slider').hide();
        $('.ns-show').show();
    }
    },500)

</script>
