<div class="wrapper cards-wrapper new-cards-area">
    <div class="contents">
        <div id="">
            <div class="header chat-hr">
                <a href="#menu">
                    <span></span>
                </a> <strong>{{_e('Партнеры')}}</strong>
                <div class="contact-panel">
                    <h3>{{_e('Партнеры')}}</h3>


                    <div class="close-blocks">
                        <div class="cls3" on-click="setPage:sendmoney"></div>
                        <div class="cls1" on-click="setPage:guarantee"></div>
                        <div class="cls2" on-click="setPage:credit"></div>
                    </div>

                </div>

            </div>

            <!--<div class="icon-area chat"></div>-->
            <scroll class_scroll="scroller-b-Affiliates" class_content="" id_content="">

                <div class="credit-area">
                    <div class="tabs-credit">
                        <div class="crd1 {{#if tabPage == 'my'}}active{{/if}} gvc1" on-click="setPage:affiliates:my">
                            {{_e('Сеть')}}
                        </div>
                        <div class="crd1 {{#if tabPage == 'profit'}}active{{/if}} gvc3"
                             on-click="setPage:affiliates:profit">
                            {{_e('Прибыль')}}
                        </div>

                        <div class="crd1 {{#if tabPage == 'about'}}active{{/if}} gvc2"
                             on-click="setPage:affiliates:about">
                            {{_e('О программе')}}
                            <!--<span class="notifications-l">1</span>-->
                        </div>

                    </div>

                    {{#if tabPage == 'my'}}
                    <div class="credit-main-area padding-fx" style="padding: 0">

                        <div class="colv-3" style="width: 100%;padding: 0 !important;">
                            {{#if partners_finish}}
                            {{#if partners.length > 0}}
                            <div class="contacts">
                                <div class="chats-blk">
                                    <button class="button-n" on-click="addPartner">{{_e('Пригласить партнера')}}
                                    </button>

                                </div>
                            </div>
                            {{#partners:i}}

                            <div class="contacts" on-click="openChats:{{i}}">


                                <div class="chats-blk">

                                    <div class="im_dialog_photo2 pull-left">

                                        <avatar src="noava.png" label="{{first_name[0]}}{{last_name[0]}}"
                                                class_img="account-img-area-n avatar-contact"
                                                class_label="chat-in-im_dialog_no_avatars avatar-contact"/>


                                    </div>
                                    <div class="chat-in-im_dialog_message_wraps">
                                        <div class="chat-in_dialog_persons">{{first_name}} {{last_name}}</div>
                                        <div class="id-area">{{id}}</div>
                                        <div class="id-area">{{#earned}}{{#if ps=='WDG'}}Profit: {{sum}} DBC{{/if}}{{/}}</div>

                                        <div class="chat-in-im_dialog_messages name_area">
                                            <div class="stars-area">
                                                <div class="full-star"></div>
                                                <div class="full-star"></div>
                                                <div class="full-star"></div>
                                                <div class="no-star"></div>
                                                <div class="no-star"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            {{/}}
                            {{else}}
                            <div class="mv-area">

                                <h2>
                                    {{_e('У вас нет партнеров')}}
                                </h2>

                                <button class="button-n" on-click="addPartner">{{_e('Пригласить партнера')}}</button>

                                <br>

                            </div>
                            {{/if}}
                            {{else}}
                            <div class="fixed-loader"></div>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if tabPage == 'profit'}}
                    <div class="credit-main-area padding-fx">
                        <table class="grid-table no-border-top" style="    margin: 0 auto;color: #fff">
                            <thead class="grid-thead">
                            <tr class="header-tr-label no-border-bottom">

                                <th class="gr_th_date_kontract" style="width: 12%">
                                    <div class="sel-table"><label>{{_e('Дата')}}</label></div>
                                </th>
                                <th class="gr_th_full_name" style="width: 17%">
                                    <div class="sel-table"><label>{{_e('Ид Партнера')}}</label></div>
                                </th>
                                <th class="gr_th_summa" style="width: 13%">
                                    <div class="sel-table"><label>{{_e('Процент')}}</label></div>
                                </th>
                                <th class="gr_th_income" style="width: 12%">
                                    <div class="sel-table"><label>{{_e('Прибыль')}}</label></div>
                                </th>
                            </tr>
                            <tr class="header-tr-filter no-border-bottom">

                                <th class="gr_th_date_kontract">
                                    <div class="sel-table"></div>
                                </th>
                                <th class="gr_th_full_name">
                                    <div class="sel-table"></div>
                                </th>
                                <th class="gr_th_summa">
                                    <div class="sel-table"></div>
                                </th>
                                <th class="gr_th_income">
                                    <div class="sel-table"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="grid-tbody">
                            {{#if profit_load}}
                            {{#if profit.length > 0}}
                            {{#profit}}

                            {{#if ps =='WDG'}}
                            <tr>
                                <td class="td_date_kontract" data-val="{{date_kontract}}">{{created}}
                                </td>
                                <td class="td_full_name" data-val="{{id_user}}">{{partner_id}}</td>

                                <td class="td_summa" data-val="{{percent}}">
                                    {{percent}}
                                </td>
                                <td class="td_income" data-val="{{sum}}">{{sum}} DBC</td>
                            </tr>
                            {{/if}}
                            {{/}}
                            {{else}}
                            <tr>
                                <td class="td_date_kontract" data-val="VISA" colspan="4">You don't have partner rewards</td>
                            </tr>
                            {{/if}}
                            {{else}}
                            <div class="fixed-loader"></div>
                            {{/if}}

                            </tbody>
                        </table>
                    </div>
                    {{/if}}

                    {{#if tabPage == 'about'}}
                    <div class="credit-main-area padding-fx">

                        <div style="color: #fff">

                            <div style="color: #fff">
                                <div style="max-width: 347px;margin: 0 auto;padding: 10px;">
                                {{_e('Ваша реферальная ссылка: ')}}
                                <br>
                                <div class="select-form">
                                    <input class="form-control" value="{{#if affiliates_data.invitation}}https://telegraf.money/?invite={{affiliates_data.invitation}}{{else}}Loading...{{/if}}">
                                </div>
                                <br>
                                    {{_e('Приглашайте ваших друзей в Telegraf.Money и получайте % на ваш счет за каждого из них. Ваши друзья также получат бонус, зарегистрировавшись по вашей ссылке.')}}
                                </div>
                                <center><h2>AFFILIATE PROGRAM</h2></center>
                                <center style="    font-size: 44px;"><h3>For active partners (affiliates), with the initial placement of tokens within the ICO, a generous referral program is provided.</h3>
                                </center>

                                <img src="./src/img/partner_level.png" width="100%"/>
                                <br>
                                <center><h2>Threshold based:</h2></center>


                                <br>
                                <br>
                                <div class="table-block">
                                    <table style="margin: 0 auto;">
                                        <tbody>
                                        <tr>
                                            <td>Starting at 100k US dollars - plus 5% of the base variant;</td>
                                        </tr>
                                        <tr>
                                            <td>Starting at 300k US dollars - plus 10% of the base variant;</td>
                                        </tr>
                                        <tr>
                                            <td>Starting at 500k US dollars - plus 15% of the base variant;</td>
                                        </tr>
                                        <tr>
                                            <td>Over 1 million US dollars - plus 20% of the base variant.</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <style>
                                        .table-block td {
                                            background: rgba(255, 255, 255, 0.24);
                                        }

                                        .table-block td {
                                            color: #fff;
                                            padding: 10px;
                                        }

                                        .table-block tr:nth-child(2n) td {
                                            background: #000;
                                        }

                                        .table-block tr:nth-child(2n) td {
                                            background: rgba(0, 0, 0, 0.28);
                                        }
                                    </style>
                                </div>
                                <br>
                                Affiliate promotion are temporary in nature and we reserve the right to change them at any time, please keep referring to our Updates in our Blog.
                                <br><br>
                                We will be announcing on the website multiple promotional events including but not limited to Raffles and Prizes to attract more downloads. Either you pay 2$ for a raffle ticket or download the app and submit your member’s number to enter.
                                <br><br>
                                We will issue 10 million DebitCoins per 10 million app downloads as a raffle promotion.
                                <br></div>
                            <br>
                            <center><h2>{{_e('Удачи')}} ✌️</h2></center>
                        </div>
                    </div>
                    {{/if}}
                </div>

            </scroll>

        </div>
    </div>

    <div class="arrow-st"></div>

    <div class="chat-panel-bottom">
        <div class="ltos"></div>

        <ul class="nav-nt">
            <li class="active">
                <a class="pointer">{{_e('Активные карты')}}</a>
            </li>
            <!--<li>-->
            <!--<a href="#">{{_e('Заблокированные')}}</a>-->
            <!--</li>-->

        </ul>

        <div class="spl-icn"></div>
        <scroll class_scroll="scroller-b-Cards-component-cards" class_content="" id_content="">

            <Cards/>
        </scroll>
    </div>

</div>