@media (min-width: 700px) {
  /* line 3, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\000033}}
  .scroller-b-Affiliates .crd1 {
    padding-left: 0 !important;
    padding-top: 17px;
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 10, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000310}}
  .scroller-b-Affiliates .crd1 {
    padding-left: 47px !important;
    padding-top: 21px;
    width: 33.3%;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 19, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000319}}
  .scroller-b-Affiliates .gvc3:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    background: url(../../../src/img/bar-chart.svg) 0 0 no-repeat !important;
    background-size: contain !important;
    border-radius: 0px;
    margin-top: -3px !important;
    margin-left: -33px !important;
  }
  /* line 32, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000332}}
  .scroller-b-Affiliates .gvc2:before {
    content: '';
    position: absolute;
    width: 25px;
    background: url(../../../src/img/round-info-button.svg) 0 0 no-repeat !important;
    height: 30px;
    border-radius: 0px;
    margin-top: -2px !important;
    margin-left: -33px !important;
  }
  /* line 45, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000345}}
  .scroller-b-Affiliates .gvc1:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    background: url(../../../src/img/networking.svg) 0 0 no-repeat !important;
    border-radius: 0px;
    margin-top: -3px !important;
    margin-left: -33px !important;
  }
}
/* line 64, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000364}}
.contasts-no-padding {
  padding: 0;
}
/* line 67, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000367}}
.contacts-blk {
  background: #f2f2f2;
  text-transform: uppercase;
  color: #95949a;
  padding: 2px 15px;
  font-size: 11px;
  text-align: left;
}
/* line 76, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000376}}
.im_dialog_photo {
  margin-top: 0;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 84, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000384}}
.chat-in-im_dialog_no_avatar {
  margin-top: 0;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  line-height: 39px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  overflow: hidden;
}
/* line 98, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\0000398}}
.chat-in-im_dialog_message_wrap {
  word-wrap: break-word;
  height: 43px;
  text-align: left;
  border-bottom: 1px solid #cacaca;
  margin-left: 52px;
  padding-right: 10px;
  padding-top: 2px;
}
/* line 108, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003108}}
.chat-in_dialog_person {
  color: #222;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 119, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003119}}
.chat-in-im_dialog_message {
  margin-top: 0;
  font-size: 8.2pt;
  font-weight: 400;
  color: #808080;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 129, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003129}}
div.im_dialog_photo {
  margin-right: 5px;
}
/* line 136, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003136}}
.chat-in_dialog_date {
  color: #646464;
  font-size: 11px;
  font-weight: 400;
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 147, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003147}}
.chat-in_dialog {
  background: #fff;
  padding-top: 4px;
  padding-left: 10px;
}
/* line 152, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003152}}
.chat-in_dialog.chat-users {
  cursor: pointer;
}
/* line 155, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003155}}
.chat-in_dialog.chat-users:hover {
  cursor: pointer;
  background: #f5f5f5;
}
/* line 159, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003159}}
.chat-in-im_dialog_photo {
  margin-top: 0;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
/* line 168, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003168}}
.chat-in-pull-left {
  margin-top: 0;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 178, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003178}}
.Invite_Friends_color {
  color: #0F80D6;
  padding-top: 9px;
}
/* line 183, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003183}}
.plus_invite {
  color: #0F80D6;
  font-size: 29px;
  font-weight: 100;
  padding-top: 2px;
}
/* line 196, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003196}}
.chat-in-input-area {
  padding: 8px;
  background: #fff;
  position: relative;
}
/* line 203, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003203}}
.chat-in-input-area input {
  width: 100%;
  background: #ECEDEE;
  border: 0;
  border-radius: 4px;
  height: 21px;
  padding-left: 26px;
  box-sizing: border-box;
}
/* line 213, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003213}}
.chat-in-input-area button {
  border: 0;
  background: url(../../../src/img/search-loup.png) 0 0 no-repeat;
  width: 18px;
  height: 20px;
  position: absolute;
  left: 15px;
  background-size: contain;
  top: 10px;
}
/* line 224, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003224}}
.chat-in-input-area ::-webkit-input-placeholder {
  color: #95949A;
}
/* line 225, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003225}}
.chat-in-input-area ::-moz-placeholder {
  color: #95949A;
}
/* Firefox 19+ */
/* line 226, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003226}}
.chat-in-input-area :-moz-placeholder {
  color: #95949A;
}
/* Firefox 18- */
/* line 227, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003227}}
.chat-in-input-area :-ms-input-placeholder {
  color: #95949A;
}
/* line 229, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003229}}
.chat-in-input-area :focus {
  outline: none;
}
/* line 235, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003235}}
.chat-in-user-main-section .chat-in-im_dialog_message_wrap {
  border-bottom: 0px solid #cacaca;
}
/* line 239, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003239}}
.chat-in-user-main-section .chat-in-pull-left,
.chat-in-user-main-section .chat-in-pull-left img,
.chat-in-user-main-section .im_dialog_photo {
  width: 55px;
  height: 55px;
  margin-right: 11px;
}
/* line 245, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003245}}
.chat-in-user-main-section.chat-in_dialog {
  background: #fff;
  padding-top: 4px;
  padding-left: 10px;
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 253, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003253}}
.chat-in-user-main-section .chat-in_dialog_person {
  color: #222;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  /* line 266, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003266}}
  .scroller-b.nano.__nano.scroller-b-Affiliates {
    height: calc(100vh - 91px);
  }
}
@media (max-width: 1199px) {
  /* line 273, Affiliates.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003273}}
  .scroller-b.nano.__nano.scroller-b-Affiliates {
    height: calc(100vh - 77px);
  }
}
/* line 278, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003278}}
.scroller-b.nano.__nano.scroller-b-Affiliates button.button-n {
  margin-top: 13px;
}
/* line 282, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003282}}
ul.ulck-menu {
  margin-top: 12px;
}
/* line 286, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003286}}
.test-lgt .bzt1 {
  width: 63px;
}
/* line 290, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003290}}
img.bzt2.szt1 {
  margin-left: 13px;
  margin-right: -28px;
}
/* line 295, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003295}}
img.bzt2.szt2 {
  margin-right: -17px;
}
/* line 299, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003299}}
.test-lgt .bzt2 {
  width: 33px;
}
/* line 303, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003303}}
.test-lgt .bzt3 {
  width: 80px;
  margin-top: -8px;
}
/* line 308, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003308}}
.test-lgt {
  position: relative;
}
/* line 312, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003312}}
img.bzt3.lzt {
  position: absolute;
  z-index: 1;
  margin-left: -78px;
  margin-top: 0px;
}
/* line 319, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003319}}
.test-lgt .bzt2 {
  width: 33px;
  margin-right: -24px;
  margin-left: 7px;
}
/* line 325, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003325}}
.test-lgt {
  width: 220px;
  margin: 0 auto;
}
/* line 330, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003330}}
.test-lgt .bzt2 {
  width: 33px;
  margin-right: -23px;
}
/* line 335, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003335}}
.test-lgt .bzt1 {
  width: 63px;
  margin-left: 21px;
}
/* line 339, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003339}}
.a-link {
  color: #ffffff;
}
/* line 342, Affiliates.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bogdanmedvedev\/Library\/Mobile Documents\/com~apple~CloudDocs\/Documents\/telegraf\.money\/www\/src\/views\/Affiliates\/Affiliates\.less}line{font-family:\00003342}}
.a-link:hover {
  color: #7587ff;
}
/*# sourceMappingURL=Affiliates.css.map */