
.wrapper {
    border-top: 19px solid rgba(0, 0, 0, 0.18);
}
body select {
    width: 100% !important;
    height: 38px !important;
    font-size: 14px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;
    border-radius: 5px !important;
    -webkit-appearance: none !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    line-height: 1em !important;
    -moz-appearance: none !important;
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    -ms-appearance: none !important;
    appearance: none!important;
    background: inherit !important;
    border: 1px solid #FFFFFF !important;
    color: #fff !important;
    position: relative !important;
    background-image: url(../../img/select-scr.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}