

body .profile-wrapper .icons-lt h4 {
    font-size: 19px!important;
}

body .profile-wrapper .ics-nb p {
    font-size: 19px;
}


body .user-id-a {
    font-size: 19px;
}

body .ars-bg {
    font-size: 19px;
}

body span.lt1 {
    max-width: 140px;
    font-size: 19px;
}

body span.lt2 {
    font-size: 19px;
}


body .acc-nt {
    font-size: 19px;
    max-width: 146px;
    line-height: 23px;
}

body .id-area {
    font-size: 19px;
}

body .ntu li a {
    font-size: 19px !important;
}

body .sets-up a {
    font-size: 19px !important;
}

body form.ava-form label span {
    font-size: 18px;
}

body .select-form input {
    font-size: 16pt;
}

body .select-form label span {
    font-size: 20px !important;
}

.select-form label {
    font-size: 19px !important;
}

body .select-form input {
    font-size: 19px;
}



body .nav-nt li a {
    font-size: 17px;
}


body .jq-selectbox__select-text, .jq-selectbox li {
    font-size: 16pt;
}


body .header.chat-hr strong {
    font-size: 20px;
}

body .colv-3 .id-area {
    font-size: 15px;
}

body .clact span {
    font-size: 13px !important;
}

body .new-cards-area a.info-areas {
    font-size: 16px !important;
}

body .txt-ls {
    font-size: 17px;
}
body .id-area {
    font-size: 16px !important;
}

body .text-art-w {
    font-size: 18px;
}

body .crd1 {
    font-size: 16px !important;
}

body .content-nh.frz-vr .header {
    background: none !important;
}

body .mobile-mn .acc-nt {
    font-size: 17px !important;
}

body .сhat-wrapper .status-area {
    font-size: 15px !important;
}
body  .сhat-wrapper .ustr{
    font-size: 14px !important;
}